{% extends "base.html" %}

{% block content %}

<div class="pt-2">
	<div class="container py-2">
		<h2 class="text-center">New Order</h2>
	</div>
	<div class="container-fluid py-2">
		<div class="row justify-content-center py-3">
			<div class="col-md-6 text-center">
				<form class="row g-3" id="counter_header_form">
					<div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Counter No</label>
                                                <input type="text" class="form-control" id="inputEmail4">
                                        </div>
					<div class="col-md-6">
    						<label for="inputEmail4" class="form-label">Table</label>
    						<input type="text" class="form-control" id="inputEmail4">
  					</div>
					<div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Tender Type</label>
                                                <input type="text" class="form-control" id="inputEmail4">
                                        </div>
					<div class="col-md-6">
                                                <label for="inputEmail4" class="form-label">Waiter</label>
                                                <input type="text" class="form-control" id="inputEmail4">
                                        </div>
				</form>

				<div class="container mt-4">
					<div class="text-start">
						<h4 class="fw-light">Menu Items</h4>
					</div>
				</div>
	
				<form class="row g-3" id="item_search_form">
					<div class="col-md-4">
						<input class="form-control" type="search" placeholder="Search"
						aria-label="Search">
					</div>
					<div class="col-md-4 text-start">
						<button class="btn btn-outline-success" type="submit">Search</button>
                                        </div>
					<div class="col-md-4 text-end">
                                                <button class="btn btn-primary" type="submit" id="btnCheckout">Checkout</button>
                                        </div>
				</form>

				<div class=" row g-3 my-3 form-check" id="item_check_list">
					<div class="col">
						<table class="table table-dark">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Select</th>
									<th scope="col">Name</th>
									<th scope="col">State</th>
									<th scope="col">Price</th>
								</tr>
							<thead>
							<tbody>
								{% for item in all_items %}
								<tr class="item-data">
									<td scope="row"></td>
									<td class="item-check-icon">
										<input class="form-check-input" type="checkbox" 
										value="" id="item-checkbox" name="item-check">
									</td>
									<td class="item-name" scope="row">{{ item.item_name }}</td>
									<td class="item-state" scope="row">{{ item.state }}</td>
									<td class="item-price" scope="row">{{ item.price }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
        		</div>
			<div class="col-md-6 text-center">
				<div class="row checkout-item-row">
						<div class="col-md-5" id="name-of-item">
							<div class="heading fw-bold fst-italic">
								Name
							</div>
						</div>
						<div class="col-md-2" id="quantity">
                                                        <div class="heading fw-bold fst-italic">
								Quantity
                                                        </div>
                                                </div>
						<div class="col-md-3" id="amount">
                                                        <div class="heading fw-bold fst-italic">
                                                                Amount
                                                        </div>
                                                </div>
						<div class="col-md-2" id="remove">
                                                        <div class="heading fw-bold fst-italic">
                                                                Remove
                                                        </div>
                                                </div>
                                </div>

                	</div>
		</div>
	</div>
</div>

{% endblock %}
