{% extends "base.html" %}

{% block content %}

<div class="pt-2">
	<div class="container py-2">
		<h2 class="text-center">Order Management</h2>
	</div>

	<div class="py-2" id="order_icons">
		<a class="btn btn-success" href="#" role="button">Orders</a>
		<a class="btn btn-success" href="{{ url_for('order_views.make_counter_order') }}" role="button">Counter</a>
		<a class="btn btn-success" href="{{ url_for('sales_views.make_credit_sale') }}" role="button">Credit Sale</a>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addNewCustomer">
			+Customer
		</button>
	</div>

	
	<div class="container py-2">
		<h2 class="text-center">Sale Invoices</h2>
		<hr>
	</div>

	<table class="table table-striped table-hover pt-3">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Date</th>
			<th scope="col">invoice no.</th>
			<th scope="col">Customer</th>
			<th scope="col">Narration</th>
			<th scope="col">Amount (Ksh)</th>
			<th scope="col">IsPaid</th>
			<th scope="col">Details</th>
		</tr>
	</thead>
	
	<tr>
		<th scope="col"></th>
		<th scope="col">
			<div class="input-group mb-3">
				<input type="date" class="form-control" aria-describedby="basic-addon1">
			</div>
		</th>
		<th scope="col">
			<div class="input-group mb-3">
				<input type="text" class="form-control" id="invoice_number_search" aria-describedby="basic-addon1">
			</div>	
		</th>
		<th scope="col">
			<div class="input-group mb-3">
				<input type="text" class="form-control" aria-describedby="basic-addon1">
			</div>
		</th>
		<th scope="col">
			<div class="input-group mb-3">
				<input type="text" class="form-control" aria-describedby="basic-addon1">
			</div>
		</th>
		<th scope="col">
			<div class="input-group mb-3">
				<input type="text" class="form-control" aria-describedby="basic-addon1">
			</div>
		</th>
		<th scope="col">
			<div class="input-group mb-3">
				<input type="text" class="form-control" aria-describedby="basic-addon1">
			</div>
		</th>
		<th scope="col"></th>
	</tr>

	<tbody>
		{% for invoice in invoices %}
		<tr>
			<th scope="row"></th>
			<td>{{ invoice.created_at.strftime('%d/%m/%Y') }}</td>
			<td class="inv_number">{{ invoice.transaction_number }}</td>
			<td>{{ invoice.customer_name }}</td>
			<td>{{ invoice.narration }}</td>
			<td>{{ invoice.amount }}</td>
			{% if invoice.isPaid == true %}
			<td><p class="text-success">Cleared</p></td>
			{% else %}
			<td><p class="text-danger">Pending</p></td>
			{% endif %}

			<td><button class="btn btn-primary invDetails btn-sm" type="button" data-bs-toggle="offcanvas"
					data-bs-target="#inv-details" aria-controls="offcanvasWithBothOptions">
					Details
				</button>
			</td>
		</tr>
		{% endfor %}
		<tr>
			<th scope="row"></th>
			<td scope="row"><b>Total = {{ number_of_invoices }}</b></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
	</table>

	<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="inv-details" style="width: 50%;" 
		aria-labelledby="offcanvasWithBothOptionsLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Invoice Items</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
		<h1 class="" id="invNumberDisplay"></h1>
			<table class="table">
				<thead>
					<tr>
					<th scope="col">Item Name</th>
					<th scope="col">Quantity</th>
					<th scope="col">Amount</th>
					</tr>
				</thead>
				<tbody id="invItemDetails">
	

				</tbody>
            </table>
		 <div class="text-center">
		 	<button type="button" class="btn btn-success finishButtonClick">Tender</button>
		</div>
		</div>
	</div>
</div>

<!-- Modal Add Customer-->
<div class="modal fade" id="addNewCustomer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add a new Customer</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				<form method="POST" action="" id="add_supplier_form">
					<div class="mb-3">
						<label for="supplier_name" class="form-label">Customer Name:</label>
						<input type="text" class="form-control" id="new_customer_name">
					</div>
					<div class="mb-3">
						<label for="contact" class="form-label">Contact:</label>
						<input type="text" class="form-control" id="contact">
					</div>
					<div class="mb-3">
						<label for="balance" class="form-label">Balance:</label>
						<input type="number" class="form-control" id="starting_balance" name="balance">
					</div>
					<div class="modal-footer">
						<button name="Btn" type="button" class="btn btn-primary" id="save_new_customer">Save</button>
					</div>
				</form>
				</div>
			</div>
	</div>
</div>

{% endblock %}
