{% extends "base.html" %}

{% block content %}

<!-- Add payment form-->
<div class="container" data-bs-scroll="true" tabindex="-1" id="payment_form" style="height: 95vh;">
<div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">New Payment</h5>
    
</div>
<div class="offcanvas-body">
<form method="POST" action="" id="">
    <div class=" input-group mb-3">
                        <input type="text" class="form-control" placeholder="Voucher No.(SystemGen)" id="payment_no" disabled>
                        <span class="input-group-text">Voucher Date</span>
                        <input class="form-control" type="date" id="supplierInvDate" required>
                </div>
    <div class="input-group mb-3">
        <input class="form-control" list="supplierList" id="nameOfSupplier" placeholder="Supplier" required>
        <datalist id="supplierList">
            {% for supplier in suppliers %}
                <option value="{{ supplier.supplier_name }}">
            {% endfor %}
        </datalist>
        <span class="input-group-text">Party Account(cr)</span>
        <input class="form-control" list="accountList" id="fromAccount" placeholder="Account" required>
        <datalist id="accountList">
            {% for paying_account in paying_accounts %}
                <option value="{{ paying_account.account_name }}">
            {% endfor %}
        </datalist>
    </div>
    <div class=" input-group mb-5">
        <span class="input-group-text">Narration:</span>
        <input class="form-control" type="text" id="payNarration" required>
    </div>
    <div class=" input-group mb-4">
        <button class="btn btn-outline-success" type="button" id="getOutstandingBalance">Load</button>
    </div>

    <!-- Table for item details -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Last Payment</th>
                <th scope="col">Balance</th>
                <th scope="col">Amount(Ksh)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="paymentDetails">
            <tr>
                <td scope="col">
                    <input class="form-control" type="text" id="lastPaymentDate" disabled>
                </td>
                <td scope="col">
                    <input class="form-control" type="text" id="currentBalance" disabled>
                </td>
                <td scope="col">
                    <input class="form-control" type="text" id="amountPaid" required>
                </td>
                <td scope="col"></td>
            </tr>
        </tbody>
    </table>
    <!-- End of table for invoice item details -->
    <div class="row justify-content-center text-end pt-5">
        <div class="col-sm-6 col-md-8 d-grid gap-2">
            <button type="button" class="btn btn-lg btn-success" id="paymentSaveBtn">Save</button>
        </div>
    </div>
</form>
</div>

{% endblock content %}