{% extends "base.html" %}

{% block content %}

<div class="pt-2">
	<div class="container py-2">
		<h2 class="text-center">Purchase Management</h2>
	</div>

	<div class="py-2" id="purchases_icons">
		<a class="btn btn-success" href="#grn_form" role="button" data-bs-toggle="offcanvas">+GRN</a>
	</div>

	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	    	<div class="success">
			{{ messages[0] }}
		</div>
	    {% endif %}
	{% endwith %}

	<table class="table table-dark">
	<thead>
		<tr>
		<th scope="col"></th>
		<th scope="col">Date</th>
		<th scope="col">GRN no.</th>
      		<th scope="col">Supplier Name</th>
		<th scope="col">Amount</th>
    		</tr>
	</thead>
	<tbody>
		<!--for loop tag for purchases in the db-->
		<tr>
			<th scope="row"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<!--End for loop tag-->
		<tr>
			<th scope="row"></th>
			<td scope="row"><b>Total = </b></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
 
	</table>


	<!-- New Grn off-cavas -->
	<div class="offcanvas offcanvas-top" data-bs-scroll="true" tabindex="-1" id="grn_form" style="height: 70vh;"
		aria-labelledby="offcanvasWithBothOptionsLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">New GRN</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
		<form method="POST" action="" id="add_new_ledger">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="GRN No.(SystemGen)" id="grn_no" disabled>
                                <span class="input-group-text">Date</span>
                                <input class="form-control" type="date" id="grn_date" required>
                        </div>
			<div class="mb-3">
                                <label for="account_group" class="form-label">Supplier:</label>
				<input class="form-control" list="supplierList" id="supplier_name" required>
				<datalist id="supplierList">
					{% for supplier in suppliers %}
  						<option value="{{ supplier.supplier_name }}">
					{% endfor %}
				</datalist>
                        </div>

			<!-- Table for item details -->
			<table class="table">
				<thead>
                                  <tr>
                                    <th scope="col">Part No.</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Unit</th>
				    <th scope="col">Qty</th>
				    <th scope="col">Rate(Ksh)</th>
				    <th scope="col">Amount(Ksh)</th>
				    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody id="grnItemDetails">
				  <tr>
                        	    <td><input class="form-control grn_item_part_no" disabled></td>
                        	    <td><input class="form-control grn_item_name" list="stock_items_list"></td>
                        	    <td><input class="form-control grn_item_unit" disabled></td>
                        	    <td><input type="number" class="form-control grn_item_quantity"></td>
				    <td><input type="number" class="form-control grn_item_rate"></td>
				    <td><input class="form-control grn_item_amount" disabled></td>
				    <td><button type="button" class="btn btn-danger remove_grn_item">-</button></td>
                		  </tr>

				  <datalist id="stock_items_list">
                                        {% for item in stock_items %}
                                                <option value="{{ item.item_name }}">
                                        {% endfor %}
                                  </datalist>

                                </tbody>
                       </table>
		       <!-- End of table for item details -->

		       <button type="button" class="btn btn-success" id="add_item_field">+</button>


			<div class="text-center">
                                <button type="button" class="btn btn-success finishButtonClick">Save</button>
                        </div>
		</form>
	</div>
</div>

{% endblock %}
