{% extends "base.html" %}

{% block content %}

<div class="pt-2">
	<div class="container py-2">
		<h2 class="text-center">Purchase Management</h2>
	</div>

	<div class="py-2" id="purchases_icons">
		<a class="btn btn-success" href="#grn_form" role="button" data-bs-toggle="offcanvas">+GRN</a>
	</div>

	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	    	<div class="success">
			{{ messages[0] }}
		</div>
	    {% endif %}
	{% endwith %}

	<table class="table table-dark">
	<thead>
		<tr>
		<th scope="col"></th>
		<th scope="col">Date</th>
		<th scope="col">Ref.</th>
		<th scope="col">GRN no.</th>
      		<th scope="col">Supplier Name</th>
		<th scope="col">Amount(Ksh)</th>
		<th scope="col"></th>
    		</tr>
	</thead>
	<tbody>
		<!--for loop tag for purchase grns in the db-->
		{% for grn in grns %}
		<tr>
			<th scope="row"></th>
			<td>{{grn.created_at.strftime('%d/%m/%Y')}}</td>
			<td>{{grn.reference_no}}</td>
			<td>{{grn.grn_no}}</td>
			<td>{{grn.supplier_name}}</td>
			<td>{{grn.amount}}</td>
			<td><button class="btn btn-success viewGrn btn-sm" data-bs-toggle="offcanvas" id="{{grn.grn_no}}"
                                        data-bs-target="#grn-details" aria-controls="offcanvasWithBothOptions">
                                        View
                            </button>
                        </td>
		</tr>
		<!--End for loop tag-->
		{% endfor %}
		<tr>
			<th scope="row"></th>
			<td scope="row"><b>Total = {{number_of_grns}} </b></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
 
	</table>


	<!-- New Grn off-cavas -->
	<div class="offcanvas offcanvas-top" data-bs-scroll="true" tabindex="-1" id="grn_form" style="height: 95vh;"
		aria-labelledby="offcanvasWithBothOptionsLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">New GRN</h5>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
		<form method="POST" action="" id="add_new_ledger">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="GRN No.(SystemGen)" id="grn_no" disabled>
                                <span class="input-group-text">Date</span>
                                <input class="form-control" type="date" id="grnDate" required>
                        </div>
			<div class=" input-group mb-3">
				<input class="form-control" list="supplierList" id="supplierName" placeholder="Supplier" required>
				<span class="input-group-text">Ref</span>
				<input class="form-control" type="text" id="grnRef" required>
				<datalist id="supplierList">
					{% for supplier in suppliers %}
  						<option value="{{ supplier.supplier_name }}">
					{% endfor %}
				</datalist>
                        </div>

			<!-- Table for item details -->
			<table class="table">
				<thead>
                                  <tr>
                                    <th scope="col">Part No.</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Unit</th>
				    <th scope="col">Qty</th>
				    <th scope="col">Rate(Ksh)</th>
				    <th scope="col">Amount(Ksh)</th>
				    <th scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody id="grnItemDetails">
				  <tr>
                        	    <td><input class="form-control grn_item_part_no" disabled></td>
                        	    <td><input class="form-control grn_item_name" list="stock_items_list"></td>
                        	    <td><input class="form-control grn_item_unit" disabled></td>
                        	    <td><input type="number" class="form-control grn_item_quantity"></td>
				    <td><input type="number" class="form-control grn_item_rate"></td>
				    <td><input class="form-control grn_item_amount" disabled></td>
				    <td><h2 class="btn btn-danger remove_grn_item">-</h2></td>
                		  </tr>

				  <datalist id="stock_items_list">
                                        {% for item in stock_items %}
                                                <option value="{{ item.item_name }}">
                                        {% endfor %}
                                  </datalist>

                                </tbody>
                       </table>
		       <!-- End of table for item details -->
		      		
		       <div class="" id="">
			       <button type="button" class="btn btn-success float-start" id="add_item_field">+</button>

                       </div>

		       <div class="row justify-content-center text-end pt-5">
		       	 <div class="col-sm-6 col-md-8 d-grid gap-2">
                                <button type="button" class="btn btn-lg btn-success" id="grnSaveBtn">Save</button>
                         </div>
		       <div class="col-sm-6 col-md-4">
			       <h2 class="">Total: Ksh<span class="" id="grn_total_amount">0</span></h2>
		       </div>
		      </div>
		</form>
	</div>
</div>

<!-- Grn details -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="grn-details" data-bs-backdrop="false" style="width: 75%;"
                aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">GRN Details</h5>
                        <button type="button" class="btn-close text-reset" id="close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                <h1 class="fw-lighter" id="grnNumberDisplay"></h1>
                        <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">Item Name</th>
				    <th scope="col">Part No.</th>
				    <th scope="col">UOM</th>
                                    <th scope="col">Quantity</th>
				    <th scope="col">Rate(Ksh)</th>
                                    <th scope="col">Amount(Ksh)</th>
                                  </tr>
                                </thead>
                                <tbody id="grnDetail">


                                </tbody>
                       </table>
		<div class="text-end">
                        <h1 class="form-control fs-3 p-2" id="grnTotal">0</h1>
                </div>
                <div class="text-center pt-2">
                        <button type="button" class="btn btn-success">Edit</button>
                </div>
                </div>
</div>

{% endblock %}
