{% extends "base.html" %}

{% block content %}
<div class="new-category">
  <div class="form">

	 {% with messages = get_flashed_messages() %}
	    {% if messages %}
	    	<div class="success">
			{{ messages[0] }}
		</div>
	    {% endif %}
	    {% endwith %}
	<form class="login-form" method="POST" action="{{ url_for('menu_views.add_category_post') }}">
		<input type="text" placeholder="Category Name" name="category_name"/>
      		<input type="text" placeholder="Description" name="description"/>
      	<button>Save</button>
    	</form>
  </div>
</div>
{% endblock %}
