{% extends "base.html" %}

{% block content %}
<div class="new-menu-item">
  <div class="form">

	 {% with messages = get_flashed_messages() %}
	    {% if messages %}
	    	<div class="success">
			{{ messages[0] }}
		</div>
	    {% endif %}
	    {% endwith %}
	<form class="login-form" method="POST" action="{{ url_for('menu_views.insert_new_item_post') }}">
		<input type="text" placeholder="Menu Item Name" name="item_name"/>
      		<input type="text" placeholder="Price" name="price"/>
		<input type="text" placeholder="Category" name="category"/>
		<input type="text" placeholder="UOM" name="uom_id"/>
		<input type="text" placeholder="Description" name="description"/>
		<input type="text" placeholder="Active" name="state"/>
		<input type="text" placeholder="Image" name="image"/>
      	<button>login</button>
    	</form>
  </div>
</div>
{% endblock %}
